---
import Layout from '../layouts/Layout.astro';
import '../styles/_blog_pages.scss';
import { newtClient } from '../lib/newt';
import type {Article} from '../lib/newt';
import { getFormattedDate } from '../utils/formatDate';
import Icons from '../components/sns_icons.astro';

const { items: articles } = await newtClient.getContents<Article>({
    appUid: 'astro_blog',
    modelUid: 'article',
    query: {
        select: ['_id', '_sys', 'title', 'slug', 'meta', 'body', 'coverImage', 'author', 'tags'],
    }
})
---


<Layout title="Articles">
        <div class="heading">Latest Updates</div>
        <div class="article">
            <div class="blog-card-container">
                {
                    articles.map((article) => {
                        return (
                            <a class="blog-card" href={`/articles/${article.slug}`}> 
                                <img src={article.coverImage?.src || '/programming-school-comparison.webp'}
                                alt={article.title}  alt={article.title} class="blog-card-image" /> 
                                <div class="blog-card-content">
                                    <p>
                                        {getFormattedDate(article._sys.raw.firstPublishedAt)}
                    
                                        <i class="fa fa-tags"> {article.tags.map(tag => tag.name).join(', ')} </i>
                                    </p>

                                    <h2 class="blog-card-title">{article.title.replace(/<[^>]+>/g, '').substring(0, 30)+' ...'}</h2>
                                    <p class="blog-card-description">{
                                        article.body.replace(/<[^>]+>/g, '').substring(0, 30)+' ...'
                                    }</p>
                                    <div class="blog-card-link">続きを読む</div>
                                </div>
                            </a>
                            
                        );
                })}
            </div>
            <div class="icons">
                <Icons />
            </div> 
    
        </div>
 
</Layout>

